.container
  .jumbotron
    h1 MultiCourse
    p Here is a bunch of text about stuff

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")
